.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(10, 10, 10, 0.35);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.navbar-brand{
    color: var(--text-main) !important;

    font-size: 1.4rem;

    font-weight: 700;
}

.nav-link{
    color: rgba(255,255,255,0.8) !important;

    transition: var(--transition);
}

.nav-link:hover{
    color: var(--primary) !important;
}

.hero-btn{
    background-color: var(--primary) !important;

    border: none !important;

    padding: 0.6rem 1.4rem;

    border-radius: 10px;

    font-weight: 600;

    transition: var(--transition);

    color: var(--text-main) !important;
}

.hero-btn:hover{
    background-color: var(--primary-hover) !important;

    transform: translateY(-2px);
}