.hero-btn{
    background: var(--primary) !important;

    border: none !important;

    padding: 0.8rem 1.8rem;

    border-radius: var(--radius-md);

    font-weight: 600;

    transition: var(--transition);

    color: var(--text-main) !important;
}

.hero-btn:hover{
    background: var(--primary-hover) !important;

    transform: translateY(-2px);
}