.loading-container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;

    background-color: #070B14;
}

.glow-spinner {
    width: 70px;
    height: 70px;

    border: 4px solid rgba(255, 255, 255, 0.08);

    border-top: 4px solid #6C63FF;

    border-radius: 50%;

    animation: spin 1s linear infinite;

    box-shadow:
        0 0 10px #8B5CF6,
        0 0 25px #8B5CF6,
        0 0 45px rgba(139, 92, 246, 0.7);
}

.loading-container p {
    color: #CFCFCF;

    font-size: 1rem;

    letter-spacing: 1px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}